/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 0px;
}

img
{
	border: none 0px #ffffff;
}

h1
{
	background-color: #ffcc00;
	border-bottom: solid 1px #333333;
	padding: 5px;
	margin: 0px;
	font-size: x-large;
}

h2
{
	font-size: large;
}

p
{
	font-size: small;
}

/* Real menu */
ul, li
{
	font-size: small;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: block;
}

ul
{
	width: 130px;
	border: solid 1px #333333;
	border-top: solid 5px #333333;
	border-right: solid 2px #333333;
	padding: 0px;
}

li ul
{
	display: none;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
}

li a
{
	padding: 2px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffee;
	width: 100%;
	display: block;
	border-bottom: dashed 1px #333333;
	text-indent: 2px;
	font-size: small;
}

li a:hover
{
	background-color: #ffcc00;
	font-weight: bold;
	border-bottom: solid 1px #333333;
}

li
{	
	float: left;
	width: 98%;
}

a.hassubmenu
{
	background-image: url(../img/lay_dmnuhassub.gif);
	background-repeat: no-repeat;
	background-position: 120px 7px;
}

#mainmenu
{
	margin: 10px;	
	margin-left: 5px;	
	float: left;
	border-bottom: solid 2px #333333;
	margin-bottom: 100%;	
}